.nav-bar {
	background-color: #504a44;
}

.navlink {
	text-decoration: none;
	color: #f5ebd4;
	transition: 0.3s;
	margin: auto;
	text-align: center;
	font-weight: 600;
}

.pages {
	text-align: center;
	margin: 0 2%;
}

.page {
	display: inline-block;
	z-index: 10;
	position: sticky;
	padding: 1%;
	left: 0;
	width: 12%;
	transition: 0.5s;
}

.navlink::before {
	transform: scaleX(0);
	transform-origin: bottom right;
}

.navlink:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.navlink::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0 0 0 0;
	background: #9ba17b;
	z-index: -1;
	transition: transform 0.3s ease;
}

.navlink:hover {
	color: #504a44;
}

ul {
	list-style-type: none;
}

#logo {
	width: 5%;
	float: left;
	border-radius: 80px;
	background-color: #504a44;
}
