.name,
.aboutdesc,
.education h4,
.desc {
	font-size: 1.4vw;
}

.name h1 {
	font-size: 3.5vw;
}

.name h4,
.aboutdesc h4,
.skills h3,
.contact-info h3 {
	font-size: 1.8vw;
}

.about {
	font-size: 1.6vw;
}

.education h3 {
	font-size: 1.4vw;
}

.btn-year {
	font-size: 2.5vw;
}

.skills h2,
.footerarea h3 {
	font-size: 2.4vw;
}

.footerarea p,
.links {
	font-size: 1.2vw;
}

.navlink {
	font-size: 1.5vw;
}

@media screen and (max-width: 800px) {
	.name {
		max-height: 33vh;
	}
	.image img {
		width: 35%;
	}
	.aboutdesc {
		max-height: 40vh;
	}

	.elem,
	.hs,
	.college {
		min-height: 70vh;
		max-height: 70vh;
	}
	.skills-pic {
		width: 8%;
		margin: 0 2%;
		min-height: 4vh;
		max-height: 4vh;
	}
	.skills {
		min-height: 75vh;
		max-height: 75vh;
	}
	.flip-card {
		min-height: 70vh;
		max-height: 70vh;
	}
	.image-icons {
		width: 30%;
		margin: 1% 2%;
	}

	.footer-box {
		min-height: 40vh;
		max-height: 40vh;
	}
	.artefact {
		min-height: 40vh;
		max-height: 40vh;
		width: 70%;
	}
}

@media screen and (max-width: 450px) {
	.nav-bar {
		display: none;
	}
	.navlink-mob {
		font-size: 4.5vw;
	}

	.logo {
		width: 20%;
	}
	header {
		position: unset;
		margin-top: 30%;
	}
	.mobile-nav {
		display: block;
	}
	.name {
		margin-top: 20%;
		min-height: 45vh;
		font-size: 3vw;
		max-height: 45vh;
	}
	.name h1 {
		font-size: 5vw;
	}

	.name h4,
	.aboutdesc h4,
	.desc h4 {
		font-size: 4vw;
	}
	.image img {
		width: 35%;
		margin: -15% 32.5%;
	}
	.basicinfo {
		margin: 0 10%;
		padding-top: 25%;
	}
	.about,
	.desc h5 {
		font-size: 3vw;
	}
	.desc h3 {
		font-size: 4.5vw;
	}

	.desc ul {
		font-size: 3vw;
		padding-left: 0;
		margin: 0 2%;
	}

	.aboutdesc {
		min-height: 60vh;
		max-height: 60vh;
	}
	.aboutdesc p {
		font-size: 2.5vw;
	}

	.elem:hover,
	.hs:hover,
	.college:hover {
		width: 90%;
	}

	.carousel-inner {
		min-height: 50vh;
		max-height: 50vh;
	}

	.carousel-item img {
		min-height: 50vh;
		max-height: 50vh;
	}

	.skills {
		min-height: 230vh;
		padding: 2%;
	}
	.skills-box {
		display: block;
	}
	.flip-card {
		margin: 10% auto;
		width: 90%;
		height: 30vh;
		height: 30vh;
	}

	.flip-card h2 {
		font-size: 6vw;
	}

	.flip-card h3 {
		font-size: 5vw;
	}
	.image-icons {
		display: block;
		margin: auto;
		width: 80%;
	}

	#contacts h3 {
		text-align: center;
		font-size: 5vw;
	}

	.footer-box {
		padding: 15% 0;
		min-height: 32vh;
		max-height: 32vh;
	}

	.footer-box h3 {
		font-size: 3.4vw;
	}

	.footer-box p,
	.footer-box ul {
		font-size: 2vw;
	}

	.footer-desc {
		height: 30vh;
	}

	.portfolio-box {
		margin-top: 30%;
	}
	.btns {
		display: none;
	}

	.btns-mob {
		display: block;
		text-align: center;
	}

	.btn-year-mob {
		width: 20%;
		background-color: #9ba17b;
		border-radius: 80px;
		color: #504a44;
		transition: 0.5s;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border: 0;
	}

	.btn-year-mob:hover {
		background-color: #61764b;
		color: #9ba17b;
	}

	.imageArea img {
		min-height: 30vh;
		max-height: 30vh;
	}
	.container .row {
		margin: 0;
		padding: 0;
	}
	.row img {
		margin: 0;
		padding: 1%;
		width: 100%;
	}
}
