@media screen and (max-width: 850px) {
    img#profile{
        width: 100%;
        margin: 20% 15%;
    }
    div.card-body {
      font-size: 0.9rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 1rem;
    }
    span.year {
        float:none;
        font-size: 1.2rem;
    }
    section#education{
        font-size: 0.9rem;
    }
    div.part
    {
        display: block;
        width: 100%;
    }
    button#navbutton{
        width: 10%;
        height: 6vh;
        font-size: 0.8rem;
        margin: -4% 0 0 45%;
    }
    div.navibar a{
        font-size: 0.8rem;
    }
    div.navibar {
        padding-top: 4%;
    }
    div#contact p {
        display: flex;
        flex: column;
        font-size: 0.8rem;
    }
    .accoDesc{
        width: 10rem;
        height: 50vh;
        font-size: 0.7rem;
        margin: 2% auto;
    }
    .accoDesc li, .acco-content{
        margin: 0;
    }

    #skills a{
        width: 80%;
  }
    #skillBtnContainer {
        height: 18vh;
        margin: 0 1% 0 1%;
   }
   .progress {
    margin: 2% 10%;
   }
   .btnSkills {
    height: 10vh;
   }

   .cardPort{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
    img#profile{
        width: 70%;
        margin: 0 15%;
        clear: both;
    }
    div.card-body {
      font-size: 0.9rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 1rem;
    }
    span.year {
        float:none;
        font-size: 1.2rem;
    }
    section#education{
        font-size: 0.5rem;
    }
    div.part
    {
        display: block;
        width: 100%;
    }
    button#navbutton{
        width: 10%;
        height: 6vh;
        font-size: 0.8rem;
        margin: -4% 0 0 45%;
    }
    div.navibar a{
        font-size: 0.8rem;
    }
    div.navibar {
        padding-top: 4%;
    }
    div#contact p {
        display: flex;
        flex: column;
        font-size: 0.8rem;
    }
    .accoDesc{
        width: 10rem;
        font-size: 0.7rem;
        display: block;
        margin: 2% auto;
    }
    .accoDesc li, .acco-content{
        margin: 0;
    }

    #skills a{
        width: 80%;
  }
    #skillBtnContainer {
        height: 34vh;
        margin: 0 1% 0 1%;
        flex-direction: column;
   }
   .btnSkills {
    width: 70%;
    margin: 2% auto;
   }
   .progress {
    margin: 2% 10%;
   }
   #additional #skillBtnContainer{
    height: 48vh;
   }

   .cardPort{
    font-size: 0.9rem;
  }  
}