/* HEADER PROFILE */
.card{
    transition: 0.5s;
    height: auto;
}

#contact p{
    display: inline;
    font-size: 0.8rem;
    margin: 0 5%;
    
}

#contact a{
  text-decoration: none;
  color: black;
}

#profile {
    position: inherit;
    width: 80%;
    margin: 0 10%;
  }
  
.card-body{
    display: flex;
    flex-direction: column;
    margin: 0 5% 5% 5%;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 1.2rem;
    flex: 1;
    text-align: center;
    height: auto;
    min-height: auto;
  }

/* DESCRIPTION */
#description {
  width: 90%;
  margin: 2% auto;
}

/* EDUCATION */
.year {
  text-align: center;
  float: left;
  margin: 5%;
  font-size: 1.5rem;
}
  
.desc {
  margin: 4% 0;
}

#educContent{
    margin: 0 auto;
    width: 90%;
    max-width: 90%;
    font-size: 1rem;
    height: auto;
    max-height: auto;
}

.rows {
    padding: 2% 0;
}

/* SKILLS */

#skills a{
  margin: auto;
  width: 30%;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
  padding: 1%;
  background-color: #5f7a61;
  border: 0;
  color: white;
}

#skills a:hover {
  background-color: black;
  transition: 0.5s;
}

.progress {
  margin: 0 10% 1% 10%;
  height: 5vh;
}

div.progress-bar{
  background-color: #5f7a61;
  transition: 1s;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
}

.btnSkills {
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
  float: left;
  border-radius: 20px;
  border: 1px solid #5f7a61;
  width: 25%;
  margin: 1% 1.5%;
  padding: 0.5%;
  font-size: 1rem;
}

#skills {
  padding-top: 3%;
}

.btnSkills:hover {
  background-color: black;
  color: white;
  border: 0;
  transition: 0.5s;
}

#skillBtnContainer{
  display: flex;
  flex-direction: row;
  margin: 0.5%;
}

/* NAVIGATION BAR */
#navbutton{
  position: fixed;
  background-color: black;
  height: 65px;
  width: 5%;
  margin: -2% 0 0 47.5%;
  font-size: 2vw;
  border: 0;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.137);
  z-index: 11;
  color: white;
  opacity: 90%;
  border-radius: 80px;
  transition: 0.5s;
}
  
#navbutton:hover {
  background-color: grey;
  }
  
  .navibar {
    height: 0;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    visibility: hidden;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0.5%;
  }

  .navibar a {
    padding: 0 2%;
    font-size: 1.2rem;
    color: white;
    float: left;
    text-align: center;
    transition: 0.3s;
  }
  
  .navibar a:hover {
    color: black;
    background-color: white;
    font-size: 1.5rem;
  }

/* ACCOLADES */

.acco-content{
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.5s;
  width: 80%;
  max-width: 80%;
  margin: auto; 
  text-align: left;
}

.accoDesc{
  color: white;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 14rem;
  max-width: 27rem;
  height: 70vh;
  min-height: 70vh;
  transition: 0.5s;
  margin: auto;
  font-size: 1rem;
  border-radius: 50px;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
  padding: 2% 0 10% 0;
}

#accoElem{
  background-image: url('../images/elem.png');
}


#accoHs {
  background-image: url("../images/hs.png");
}

#accoCol {
  background-image: url("../images/college.png");
  
}

/* PORTFOLIO */

  :root {
    --surface-color: #fff;
    --curve: 40;
  }
    

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .cardPort {
    cursor:pointer;
    position: relative;
    display: block;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    height: auto;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
    min-height: 30vh;
    transition: 1.5s ease-in-out;
  }
  
  .card__image {      
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 30vh;
  }
  
  .card__overlay {    
    height: auto;
    min-height: auto;
    border-top: 2px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;    
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: 1.5s ease-in-out;
  }
 
  .cardPort:hover{
    height: auto;
    min-height: 60vh;
    transform: translateY(0);
  }
  .cardPort:hover .card__overlay {
    transform: translateY(0);
    height: auto;
    min-height: 50vh;
  }
  
  .cardPort:hover .card__header {
    transform: translateY(0);

  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: 1s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
  }       

  .card__title {
    font-size: 1rem;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__status {
    font-size: .8em;
    color: #b1aaaa;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #b1aaaa;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: auto;
    min-height: 30vh;
  }    